body {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    white-space: nowrap;
}

.box1 {
    height: 100px;
    width: 100px;
    border-top: 1px solid #687291;
    font-size: 40px;
    font-family: Tahoma;
    text-align: center;
    background-color: #dfe1e7;
}

.box2 {
    height: 100px;
    width: 100px;
    border-top: 1px solid #687291;
    font-size: 40px;
    font-family: Tahoma;
    text-align: center;
    background-color: #eeeff2;
}

.box3 {
    height: 100px;
    width: 100px;
    border: 4px solid black;
    font-size: 40px;
    font-family: Tahoma;
    text-align: center;
    background-color: #687291;
}