body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}

.box {
    height: 100px;
    width: 100px;
    border-top: 1px solid #687291;
    background-color: #dfe1e7;
    font-size: 40px;
    font-family: Tahoma;
    text-align: center;
}

.bd {
    background-color: #eeeff2;
}

.f {
    border: 4px solid black;
    background-color: #687291;
    display: flex;
    align-items: center;
    justify-content: center;
}